# --- DOMAIN CONFIGURATION ---
DOMAIN_NAME=trees.firstasia.edu.ph

# --- MONGODB CONFIG ---
# Used by snapfolia-mongodb and snapfolia-mongo-express
MONGO_USER=snapadmin
MONGO_PASS=secure_mongo_password_2026

# --- RABBITMQ CONFIG ---
# Used by snapfolia-rabbitmq, api, and celery workers
RABBIT_USER=rabbit_user
RABBIT_PASS=secure_rabbit_password

# --- REDIS CONFIG ---
# internal service name is used in the URL
REDIS_URL=redis://redis:6379/0

# --- STORAGE PATHS ---
# LOCAL_UPLOAD_PATH: Where images are stored on your physical host machine
# UPLOAD_DIR: The internal path inside the containers (usually /app/uploads)
UPLOAD_DIR=/volumes/images
LOCAL_UPLOAD_PATH=./volumes/images

# --- MODEL PATHS ---
# These point to the .engine or .pt files inside the mounted volumes
YOLO_MODEL_PATH=/app/models/best.engine
CLS_MODEL_PATH=/app/models/best.pt

# --- TRAEFIK / SSL ---
ACME_EMAIL=email@gmail.com